* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.formbdy {
  border: px solid;
  border-radius: 3px;
  border-collapse: none;
  margin-top: 10rem;
  margin-left: 45rem;
  width: 35rem;
  height: 40rem;
  -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}
.formbdy h1 {
  text-align: center;
  color: rgb(218, 134, 9);
 
  font-family: 'Overpass', sans-serif;
  padding-top: 20px;
}
.field {
  border-radius: 5px;
  height: 500px;
  width: 70%;
  margin-left: 60px;
  font-size: 1.2rem;
  background-color: rgb(223, 191, 12);
  font-weight: 600;
  padding-top: 20px;
}
input {
  font-size: 2rem;
  
}
.signup-link a {
  color: black;
}
input:hover {
  background-color: rgba(0, 0, 0, 0.226);
}
button:hover {
  background-color: rgba(0, 0, 0, 0.226);
}
.forgot-pass a {
  color: black;
}
.forgot-pass:hover {
  color: black;
}
.signup-link a:hover{
background-color:rgba(0, 0, 0, 0.226);
}
.forgot-pass a:hover{
  background-color:rgba(0, 0, 0, 0.226);}
